include README.md
include LICENSE
include pyproject.toml
include setup.py
include py.typed
recursive-include src *.py *.c *.pyi
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.egg-info
